body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    background-image: url("/Error/error1.png");
    background-size: cover;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  img {
    max-width: 80%;
    height: 300px;
    margin-bottom: 30px;
    animation: bounce 1s infinite alternate;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  .animated-text {
    margin-top: 20px;
    font-size: 36px;
    color: #e2dede;
    animation: pulse 1s infinite alternate;
  }
  
  @keyframes pulse {
    0% {
      opacity: 0.8;
    }
    100% {
      opacity: 1;
    }
  }
  
  p {
    margin-top: 10px;
    color: #c5c2c2;
    text-align: center;
  }
  
  .btn-home {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
  }
  
  .btn-home:hover {
    background-color: #0056b3;
  }
  
  .search-form {
    margin-top: 20px;
  }
  
  .search-form input[type="text"] {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
  }
  
  .search-form button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
  }
  
  .search-form button:hover {
    background-color: #0056b3;
  }
  